@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.hole-bg {
    background-color: antiquewhite;
    border-radius: 10px;
}

.menu-section {
    /* background-color: #7a66ea; */
    background-image: linear-gradient( 27deg, #536ef4b5, transparent);
    position: static;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.container {
    margin-bottom: 40px;
}

.carousel-item {
    padding: 0px 30px;
}

.cat1,
.cat2,
.cat3 {
    padding: 5px 12px;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
}

.cat1 {
    background-color: palevioletred;
}

.cat2 {
    background-color: rebeccapurple;
}

.cat3 {
    background-color: seagreen;
}

.about-title {
    text-transform: uppercase;
}

#about,
.news {
    height: 100vh;
}


/* .about-image img {
    max-width: 100%;
    margin: 10px 0;
} */


/* .item img {
    max-width: 100%;
    border-radius: 10px;
} */

.servises {
    background-color: rgb(240, 243, 242);
    padding: 20px 0;
}

.services-title {
    text-align: center;
    text-transform: uppercase;
}

.item {
    padding: 10px;
    transition: all 0.5s;
    position: relative;
}

.item:hover {
    transform: scale(105%);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1 !important;
    border-radius: 10px;
}

.item:hover::before {
    content: "";
    position: absolute;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    top: 85px;
    left: 110px;
}

.get-in {
    max-width: 100%;
    background-color: turquoise;
    text-align: center;
}


/* .head-office,
.phone-number,
.social-icon {
    border-left: 3px solid tomato;
} */

.social-icon>i {
    padding: 8px;
    font-size: 28px;
    background-color: #f0ede9;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.social-icon {
    text-align: center;
}

.social-icon>i:hover {
    background-color: #fff;
    color: rgb(70, 130, 243);
}

.row.d-flex.align-items-center {
    margin-top: 47px;
}

#footer {
    background-color: rgb(29, 28, 28);
}

.fo>h4 {
    color: #fff !important;
}