.hole-bg {
    background-color: antiquewhite;
    border-radius: 10px;
}

.container {
    margin-bottom: 40px;
}

.carousel-item {
    padding: 0px 30px;
}

.cat1,
.cat2,
.cat3 {
    padding: 5px 12px;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
}

.cat1 {
    background-color: palevioletred;
}

.cat2 {
    background-color: rebeccapurple;
}

.cat3 {
    background-color: seagreen;
}